<section class="flex flex-col gap-4 w-full h-auto mb-4">
    <!-- divisor -->
    <mat-divider class="opacity-50" />

    <!-- colors categories -->
    <div class="flex flex-wrap justify-center item-center mt-2 px-2 gap-4">
        @for (category of categories(); track category.id) {
            <span class="select-nome opacity-80 hover:opacity-100 flex item-center justify-center 
                {{ categoryBackgroundColors[category.color] }} 
                px-4 rounded-2xl w-[80px] text-center text-white font-semibold">
                {{ category.name }}
            </span>
        }
    </div>
</section>
